<h1>Gmail#signup_confirm</h1>

<h1>Welcome <%= @user_admin.name%> to Movie Page</h1>

<p>
  Thank you for signing up.
</p>

<p>
   Please <%= link_to "click here", @user_admin %> to go to your profile.
</p>
