<h1>MyMail#signup_confirm</h1>

<h1>Welcome <%= @user_lap.name%> to Movie Page</h1>

<p>
  Thank you for signing up.
</p>

<p>
   Please <%= link_to "click here", @user_lap %> to go to your profile.
</p>
