
        <section class="container">
            <div class="order-container">
                <div class="order">
                    <div class="category category--popular">
                    <h3 class="category__title">Cinema <br><span class="title-edition">posts</span></h3>
                </div>
                <h1><i class="fa fa-pencil-square-o"></i></h1>
                <div class="order-step-area">
                    <div class="order-step first--step">1. What &amp; Where &amp; When</div>
                </div>

                <div class="ticket">
<div class="form row">
                  <% if(flash[:error]) %>
                        <div class="alert alert-danger" role="alert">
                          <strong>Error</strong> <%= flash[:error]%>
                        </div>
                      <% end %>

  </div>
                          <div class="form row">

                        <%= render "form" %>

                    </div>
                </div>



            </div>
        </section>

        <div class="clearfix"></div>
