<h1>MailAdmin#signup_confirm</h1>

<h1>Welcome <%= @user_ad.name%> to Movie Page</h1>

<p>
  Thank you for signing up.
</p>
<p>
   Please <%= link_to "click here", @user_ad %> to go to your profile.
</p
<p>
  <%= @greeting %>, find me in app/views/mail_admin_mailer/signup_confirm.html.erb
</p>
