

                  <article class="post post--news">
                      <% @posts.each do |post| %>
                               <a href='single-page-full.html' class="post__image-link">
                                     <%= image_tag post.image.url(:medium) %>
                               </a>

                               <h1><a href="single-page-full.html" class="post__title-link"><%= post.title %></a></h1>
                               <p class="post__date">29 October 2013 </p>

                               <div class="wave-devider"></div>

                               <p class="post__text"><%= post.body %></p>

                               <div class="tags">
                                       <ul>
                                           <li class="item-wrap"><a href="#" class="tags__item">news</a></li>
                                           <li class="item-wrap"><a href="#" class="tags__item">movie</a></li>
                                           <li class="item-wrap"><a href="#" class="tags__item">ceremony</a></li>
                                           <li class="item-wrap"><a href="#" class="tags__item">award</a></li>
                                       </ul>
                               </div>

                               <div class="devider-huge"></div>
                               <% end %>
                           </article>
